<!doctype html>

<!-- <html>
    <head>
    </head>

    <body>


        <h1> Hello World (sooo cliche)</h1>
        <p>«{{ var }}»</p>
    </body>
</html> -->
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../../static/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="../../../static/css/bootstrap-responsive.css"/>
	<link rel="stylesheet" type="text/css" href="../../../static/css/login.css"/>
</head>

<body>
	<div id="logo">
		<div class="wrapper">
			<img alt-text="Logo Image" src="../../../static/images/logo.png"/>
			<h1>Carbide!</h1>
			<h3>Events. Easier</h3>
		</div>
	</div>
	<div class="main-card">
		
	</div>

	<div class="">

	</div>
</body>
</html>
