lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

*.pyc
*.pyo
*~

pids
logs
results

bin/*
lib/*
local/*
include/*

npm-debug.log

env
db

local_settings.py
carbide/local_settings.py
carbide/conf/prod.py