{% extends "base.html" %}
{% load static from staticfiles %}
{% load compressed %}

{% block main %}
	<form>

		<div class="form-input">
			<label>Email</label>
			<div class="input-wrapper">
				<input type="email" placeholder="your email">
			</div>
			<div class="error-message">Sorry, invalid email</div>
		</div>

		<div class="form-input">
			<label>Password</label>
			<div class="input-wrapper">
				<input type="password" placeholder="your password">
			</div>
			<div class="error-message">Sorry, invalid password</div>
		</div>

		<div class="button-wrapper">
			<button type="submit">Log in</button>
		</div>

	</form>
{% endblock %}
