/*GENERAL*/
/*Should change either this or the span classes. I don't know what the best practices are*/
#logo-div {
  width: 10em;
  height: 7em;
}
#logo-div img {
  width: 70%;
  float: left;
}
#logo-div h1 {
  width: 30%;
  float: right;
}
#logo-div p {
  width: 100%;
  float: right;
}
/*TASKS*/
.main-task.status-ok {
  height: 17em;
  background: #ddffdd;
  margin: 1em;
  margin-left: 2%;
  margin-right: 2%;
}
.main-task.status-warning {
  height: 17em;
  background: #ffffdd;
  margin: 1em;
  margin-left: 2%;
  margin-right: 2%;
}
.main-task.status-emergency {
  height: 17em;
  background: #ffdddd;
  margin: 1em;
  margin-left: 2%;
  margin-right: 2%;
}
.main-task p {
  float: left;
  margin: 2em;
}
.main-task .button-group {
  float: right;
  margin: 1em;
}
.task.status-ok {
  height: 17em;
  background: #ddffdd;
  margin: 1em;
  margin-left: 4%;
  margin-right: 4%;
}
.task.status-warning {
  height: 17em;
  background: #ffffdd;
  margin: 1em;
  margin-left: 4%;
  margin-right: 4%;
}
.task.status-emergency {
  height: 17em;
  background: #ffdddd;
  margin: 1em;
  margin-left: 4%;
  margin-right: 4%;
}
.task p {
  float: left;
  margin: 2em;
}
.task .button-group {
  float: right;
  margin: 1em;
}
/*TASK BUTTONS*/
.task-button {
  width: 5em;
  height: 5em;
}
.done-button {
  width: 5em;
  height: 5em;
}
.help-button {
  width: 5em;
  height: 5em;
}
.emergency-button {
  width: 5em;
  height: 5em;
}
