@lightRed:   #fdd;
@lightGreen: #dfd;
@lightYellow: #ffd;
@lightBlue:  #ddf;
@defaultColour: @lightBlue;

.nice-tab(@colour,@margins){
	height:17em;
	background:@colour;
	margin:1em;
	margin-left:@margins;
	margin-right:@margins;
}

.set-image-size(@height,@width){
	width:@width;
	height:@height;
}

.set-square-image-size(@side){
	.set-image-size(@side,@side);
}

/*GENERAL*/
/*Should change either this or the span classes. I don't know what the best practices are*/
#logo-div {
	width:10em;
	height:7em;
	
	img {
		width:70%;
		float:left;
	}
	h1 {
		width:30%;
		float:right;
	}
	p {
		width:100%;
		float:right;
	}
}

/*TASKS*/

.generic-task(@margins) {
	&.status-ok { .nice-tab(@lightGreen, @margins) }
	&.status-warning { .nice-tab(@lightYellow, @margins) };
	&.status-emergency { .nice-tab(@lightRed, @margins) };

	p {
		float:left;
		margin:2em;
	}

	.button-group {
		float:right;
		margin:1em;
	}
}

.main-task {
	.generic-task(2%);
}

.task {
	.generic-task(4%);
}

/*TASK BUTTONS*/

.task-button {
	.set-square-image-size(5em);
}

.done-button {
	.task-button
}

.help-button {
	.task-button
}

.emergency-button {
	.task-button
}

